@charset "UTF-8";
body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    background-color: black;
    color: rgb(229, 255, 0);
}

h2 {
    color: rgb(136, 118, 118);
}

a {
    color: blue;
}

p {
    text-align: justify;
}