@charset "UTF-8";
:root {
    --fonte-poema: 'SweetPoems';
}
header {
    position: relative;
    background-color: black;
    height: 330px;
    color: white;
    
}
#titulo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover {
    text-decoration: under;
}
.poemasemimg{
    font-size: 4em;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-family: var(--fonte-poema);
}
.artigoimg{
    position: relative;
    height: 1020px;
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
}
.poemacomimg{
    position: absolute;
    top: 6%;
    left: 1%;
    padding: 20px;
    font-size: 4em;
    width: 755px;
    height: 855px;
    background-color: rgba(7, 2, 2, 0.493);
    color: white;
}