@charset "UTF-8";
header {
    position: relative;
    background-color: black;
    height: 330px;
    color: white;
    
}
#titulo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}