@charset "UTF-8";
:root {
    --fonte-poema: 'SweetPoems';
}
header {
    position: relative;
    background-color: black;
    height: 330px;
    color: white;
    
}
#titulo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header h1 {
    font-variant: small-caps;
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
}
header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}
header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
.secnormal {
    background-color: rgb(255, 255, 255);
    color: black;
}
.secimg {
    background-color: powderblue;
    color: white;
}
.secimg p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}